@page "/counter"

<PageTitle>Counter</PageTitle>

<h1 class="font-extrabold text-5xl">Counter</h1>

<p role="status">Current count: @currentCount</p>

<SimpleButton Text="Click me" OnClick="IncrementCount" />

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
